<h1>Home</h1>
<h2>Welcome to the Patient Portal.  You may use this site to reference the records kept by your physician and medical facility. Additionally, you may track vital statistics that can help your doctor in managing your care.</h2>

<div id="home_actions">
	<%= link_to "Sign Up Now!", signup_path, class: "btn btn-lg btn-primary" %>
	<%= link_to "Log-In", '#', class: "btn btn-lg btn-primary" %>
</div>

